.info {
    display: flex;
    justify-content: space-between;
}

.auction-title {
    margin: 20px 0 0 0;
    font-size: 20px;
}

.auction-owner {
    display: flex;
    justify-content: space-between;
}