@font-face {
  font-family: "neo";
  src: url("../../assets/fonts/neodgm.woff");
}

.mainPage {
  background-image: url("../../assets/images/main.jpeg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  font-family: "neo";
  z-index: -1;
}

.shopContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 10%;
  bottom: 5%;
}
.shopSign {
  transform: scaleX(-1);
  height: 100%;
}
.shopBtn {
  position: absolute;
  top: 50%;
  left: 57%;
  width: 100%;
  font-size: 2.5vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gameContainer {
  margin-left: 15%;
  position: relative;
  right: 5%;
  top: 30%;
  height: 20%;
}

.gameBtn {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 100%;
  font-size: 2.5vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.itemContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
  right: 20%;
}
.itemSign {
  transform: scaleX(-1);
  height: 100%;
}
.itemBtn {
  position: absolute;
  top: 39%;
  left: 51%;
  width: 100%;
  height: 10%;
  font-size: 2.5vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.guideContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
  right: 15%;
  width: 10vw;
}
.shopBox {
  position: relative;
  width: 25vw;
  height: 20vw;
}
.guideBox {
  position: relative;
  width: 25vw;
  height: 20vw;
}
.gameBox {
  position: relative;
  width: 25vw;
  height: 20vw;
}
.itemBox {
  position: relative;
  width: 25vw;
  height: 20vw;
}
.guideSign {
  height: 100%;
  width: 100%;
}
.guideBtn {
  position: absolute;
  top: 40%;
  left: 55%;
  width: 30%;
  font-size: 2.5vw;
  transform: translate(-50%, -50%);
}
