.pageBox {
  display: flex;
  background-color: #fffaf4;
  flex-direction: column;
  height: 100%;
}

.item-title {
  padding: 20px 0px 20px 50px;
}

.item-header-wrap {
  display: flex;
  align-items: center;
}

.item-modal {
  margin-left: 15px;
}

.MuiTypography-root {
  font-family: "neo" !important;
}

.MuiTypography-root > div > img {
  width: 130px;
}

.epic {
  /* background-color: lightblue; */
  padding: 10px;
}

.itemPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.myNft {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.itemShop {
  width: 20%;

  margin-right: 1%;

  text-align: center;
  display: flex;
  flex-direction: column;
}

.otter {
  margin-top: 10%;
  width: 20%;
  height: 50%;
  border-color: black;
  border: 2px solid;
}
.select {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 20%;
  height: 10vh;
  margin-top: 5%;
}
.part {
  margin-right: 3%;
  margin-bottom: 0.5%;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e9dc;
  border-radius: 50%;
  /* 
  border: 8px solid transparent;
  border-radius: 10px;
  border-image: linear-gradient(
    to right,
    rgb(89, 143, 236) 0%,
    rgb(122, 197, 234) 100%
  );
  border-image-slice: 1; */
}

.part:hover {
  background-color: rgba(192, 133, 82, 0.5);
  cursor: pointer;
}

.chosen {
  background-color: rgba(192, 133, 82, 1);
}

.base {
  width: 300px;
  height: 400px;
  z-index: 1;
}

.head {
  z-index: 2;
}
.eye {
  z-index: 3;
}
.mouth {
  z-index: 4;
}
.hand {
  z-index: 4;
}
.cloth {
  z-index: 2;
}

.otterNft {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.char {
  position: absolute;
  width: 300px;
  height: 400px;
}

.giftDiv {
  margin-top: 10%;
}

.shopName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.shoppart {
  border: 10px solid skyblue;
  border-radius: 10px;
  background-color: white;
}

#otterImg {
  position: absolute;
  width: 300px;
  height: 400px;
}

.selectBtn {
  border-radius: 10px;
  font-family: "neo";
  margin-top: 3%;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}
