.enemy1{
    transition: transform 0.2s ease-out;
    background: url('../../public/enemy/enemy1.png') 0px 0px no-repeat;
}

.enemy2{
    transition: transform 0.2s ease-out;
    background: url('../../public/enemy/enemy2.png') 0px 0px no-repeat;
}

@keyframes enemyThrottle {
    0% { background-position: 0px 0px; }
    100% { background-position: -59px 0px; }
}