@font-face {
  font-family: "neo";
  src: url("../../assets/fonts/neodgm.woff");
}
.navbar {
  background-color: #c08552;
  font-family: "neo";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu {
  font-family: "neo";

  display: flex;
  flex-direction: row;
}
.menuItem {
  padding-right: 130px;
  font-size: 32px;
  color: black;
  text-decoration: none;
}

.logo {
  width: 80px;
  padding-right: 130px;
}
