@font-face {
  font-family: "neo";
  src: url("../../assets/fonts/neodgm.woff");
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.giftBox {
  animation: swing 0.2s forwards infinite;
  animation-delay: 1.5s;
}

@keyframes swing {
  0% {
    transform: rotateZ(0deg) translate(0, 0);
  }
  50% {
    transform: rotateZ(20deg) translate(15px, -5px);
  }
  100% {
    transform: rotateZ(-10deg) translate(-15px, 5px);
  }
}
.gottenItem {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.itemImg {
  position: absolute;
  width: 30%;
  height: 40%;
  z-index: 2;
}
.lightImg {
  position: absolute;

  width: 100%;
  height: 50%;
  z-index: 1;
}

.btn {
  margin-top: 22%;
  width: 10%;
  height: 5vh;
  margin-left: 2%;
  font-family: "neo";
  font-size: large;
  border: black 2.5px solid;

  background-color: #f3e9dc;
}

