.modalbtn {
  padding: 40px 80px;
  font-size: 2em;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 60px;
  cursor: pointer;
  font-family: "neo";
  background-color: #f3e9dc;
  margin-right: 10%;
  width: 100%;
}
