.profileImg {
  width: 15vw;
  height: 28vh;
  margin-left: 100%;
  margin-top: 40%;
  border-radius: 20px;
  border: 2px solid;
}

.profile {
  display: flex;
}

.profileInfo {
  margin-left: 20%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}
.profileInfo2 {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.myOtterNfts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.myOtterNft {
  background-color: #f3e9dc;
  margin-left: 8%;
  margin-bottom: 5%;
  height: 50vh;
  border-radius: 20px;
  width: 23vw;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.sudalInfo {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.issaled {
  display: flex;
  margin-top: 10%;
  background-color: #5e3023;
  height: 60%;
  color: white;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 20px;
}
