.items {
  border: 1px solid;
  width: 80%;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3e9dc;
}
.paginate {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.paginate > li {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: black;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 12%;
  width: 70%;
}

.oneBox {
  border: 1px solid;

  margin-top: 1%;
  margin-right: 2%;
}
