.card-wrap {
    width: 200px;
    height: 250px;
    perspective: 1100px;
    display: inline-block;
    /* background-color: gray; */
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .4s;
    transform-style: preserve-3d;
}

.card-wrap > img {
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
}

.card-front {
    /* background: lightcoral; */
    background: #895737;
}

.card-front, .card-back {
    position: absolute;
    width: 100%; 
    height: 100%;
    backface-visibility: hidden;
}

.card-back { 
    transform: rotateY(180deg);
}

.flip-front {
    transform: rotateY(180deg);
}

/* 게임 시작후 배경 */
.card-game-wrap {
    width: 1400px;
    height: 900px;
    display: flex;
    margin: 50px auto;
    align-items: center;
    /* background-color: rgb(251, 201, 201); */
    background-color: #DAB49D;
}
/* 시작전 배경 */
.card-game-before {
    width: 1400px;
    height: 900px;
    position: relative;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dab49d;
}
/* 시작하기 버튼 */
.card-start-btn {
    position: absolute;
    width: 200px;
    height: 65px;
    font-family: 'neo';
    font-size: 28px;
    background: #dab49d;
    border: 1px solid #895737;
    border-radius: 5px;
}

.card-game-flex {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
}
