.nftTitle {
  font-size: 4vh;
  height: 10vh;
  margin-left: 5%;
  margin-top: 5%;
}

#comp {
  border: 2px solid;
  border-radius: 10%;
  margin-bottom: 10%;
}

.settingNft {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}

.nftInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
}
.forsale {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.saleornot {
  display: flex;
  justify-content: flex-start;
}
.isSale {
  margin-right: 5%;
  font-size: 2vw;
  margin-left: 3%;
}
.setting {
  position: relative;
  width: 50vw;
  margin-left: 20%;
}

.saveBtn {
  width: 20%;
  margin-top: 10%;
  margin-left: 31%;
  height: 5vh;
  font-family: "neo";
  font-size: 1.5vw;
  background-color: #dab49d;
  border-radius: 5%;
  border: #dab49d;
}

.border {
  border: 2px #895737 solid;
  border-radius: 3%;
  font-family: "neo";
  color: #895737;
}
